@font-face {
  font-family: "Eina03";
  src: url("./assets/fonts/Eina03-Light.woff2") format("woff2"),
    url("./assets/fonts/Eina03-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eina03-RegularItalic";
  src: url("./assets/fonts/Eina03-RegularItalic.woff2") format("woff2"),
    url("./assets/fonts/Eina03-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Eina03";
  src: url("./assets/fonts/Eina03-Bold.woff2") format("woff2"),
    url("./assets/fonts/Eina03-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eina03";
  src: url("./assets/fonts/Eina03-BoldItalic.woff2") format("woff2"),
    url("./assets/fonts/Eina03-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Eina03";
  src: url("./assets/fonts/Eina03-LightItalic.woff2") format("woff2"),
    url("./assets/fonts/Eina03-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Eina03";
  src: url("./assets/fonts/Eina03-SemiboldItalic.woff2") format("woff2"),
    url("./assets/fonts/Eina03-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Eina03";
  src: url("./assets/fonts/Eina03-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Eina03-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eina03";
  src: url("./assets/fonts/Eina03-Regular.woff2") format("woff2"),
    url("./assets/fonts/Eina03-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Light.woff2") format("woff2"),
    url("./assets/fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
